@font-face {
  font-family: "digital";
  src: url("../fonts/PatrickHand-Regular.ttf");
}
@font-face {
  font-family: "Italic";
  src: url("../fonts/PTSans-Italic.ttf");
}

body {
  background-image: url("../image/background.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 200px;
 }

 #border {
  border: 2px solid black;
  border-radius: 20px;
 } 
#date {
  font-family: "Italic";
    font-size: 8em;
    width: 100%;
    text-align: center;
}
#clock {
  font-family: "digital";
    font-size: 175px;
    width: 100%;
    text-align: center;
  }